@charset "utf-8";

/* CSS Document */
body, td, th, p {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-size: 10pt;
  color: #333;
}

a {
  color: #ea004c;
  text-decoration: none;
}

a:hover, a:focus {
  filter: brightness(110%);
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #fff;
  min-height: 100%;
}

#footer {
  background-color: #4c2431;
  color: #fff;
  font-size: 8pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

#footer a {
  color: #ff5d92;
  font-weight: 700;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 50px;
  background-color: #4c2431;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
}

nav a h1 {
  color: #fff;
  font-size: 14pt;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 2pt;
  text-transform: uppercase;
  margin: 0;
}

nav a:hover h1 {
  color: #ffc9da;
}

nav .restaurant-logo {
  width: 28px;
  margin-right: 10px;
}

#breadcrumb {
  padding: 14px 20px;
  list-style: none;
  background-color: #e2e2e2;
  margin: 0;
  width: auto;
  color: #616161;
  font-size: 10pt;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

/* Display list items side by side */
#breadcrumb li {
  color: #616161;
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: #616161;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #b70c43;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 120px;
  background-color: #e2e2e2;
  align-items: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.filter-options h2 {
  color: #616161;
  font-size: 10pt;
  font-weight: 700;
  line-height: 1;
  margin: 0 10px;
  text-transform: uppercase;
}

.filter-options .select-css {
  display: block;
  font-size: 11pt;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 0 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 20px top 50%, 0 0;
  background-size: 10px auto, 100%;
}

.filter-options .select-css::-ms-expand {
  display: none;
}

.filter-options .select-css:hover {
  border-color: #888;
}

.filter-options .select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.filter-options .select-css option {
  font-weight: 400;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#restaurants-list li {
  background-color: #fff;
  border: none;
  margin: 15px;
  height: auto;
  padding: 0;
  text-align: left;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

#restaurants-list .restaurant-thumb {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

#restaurants-list div {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-end;
  height: auto;
}

#restaurants-list li h3 {
  color: #ea004c;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 0 8px;
  flex-basis: 100%;
}

#restaurants-list span {
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
  margin: 0 0 5px;
  flex-basis: 100%;
}

#restaurants-list p {
  display: block;
  margin: 0;
  font-size: 11pt;
  flex-basis: 100%;
  color: #585858;
}

#restaurants-list li button {
  background-color: #b70c43;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  margin: 15px 0 0;
  padding: 0 30px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

#restaurants-list li button:hover,
#restaurants-list li button:active {
  filter: brightness(110%);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
}

.inside #map-container {
  background: #fff none repeat scroll 0 0;
  height: 300px;
  position: relative;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 300px;
  width: 100%;
}

.inside #footer {
  position: relative;
  width: 100%;
}

#restaurant-container, #reviews-container {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

#restaurant-container {
  flex-basis: 100%;
  background: #fff;
  align-items: center;
}

#reviews-container {
  background: #f3f3f3;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: auto;
}

.left-column {
  width: 100%;
  order: 0;
}

.right-column {
  width: 100%;
  order: 3;
}

#restaurant-name {
  color: #ea004c;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 0 0 10px;
  flex-basis: 100%;
}

.restaurant-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 20px;
  order: 1;
  align-self: center;
}

#restaurant-address {
  font-size: 14pt;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 18px;
  width: 100%;
}

#restaurant-cuisine {
  background-color: #777;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
}

#restaurant-hours {
  width: 100%;
}

#restaurant-hours tr {
  height: 24px;
}

#restaurant-hours td {
  color: #333;
  flex-basis: 100%;
}

#restaurant-hours .table-day {
  color: #777;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 10px;
  text-align: left;
  width: 80px;
}

#reviews-container h3 {
  color: #ea004c;
  font-size: 18pt;
  font-weight: 400;
  flex-basis: 100%;
}

#reviews-list {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}

#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
}

#reviews-list li p {
  margin: 0 0 10px;
  flex-basis: 100%;
}

#reviews-list .review-name {
  font-size: 14pt;
  line-height: 1.3;
  font-weight: 700;
  color: #333;
}

#reviews-list .review-date {
  color: #777;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 700;
}

#reviews-list .review-comment {
  color: #333;
  font-size: 12pt;
  line-height: 1.5;
  font-weight: 400;
}

/* ====================== Responsive Breakpoints ====================== */
@media (min-width: 480px) and (max-width: 767px) {
  .filter-options {
    height: 30px;
    flex-wrap: nowrap;
  }

  #restaurants-list li {
    flex-basis: 43%;
  }
}

@media screen and (min-width: 768px) {
  nav {
    height: 80px;
  }

  nav a h1 {
    font-size: 18pt;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5pt;
  }

  nav .restaurant-logo {
    width: 48px;
    margin-right: 20px;
  }

  .filter-options {
    height: 30px;
    flex-wrap: nowrap;
  }

  .filter-options .select-css {
    max-width: 30%;
  }

  #restaurants-list li {
    flex-basis: 29%;
  }

  .inside header {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .inside #map-container {
    width: 50%;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
  }

  .inside #map {
    width: 100%;
    height: 100%;
  }

  .left-column {
    order: 1;
  }

  .right-column {
    order: 2;
  }

  .wrapper {
    position: relative;
    width: 50%;
    top: 120px;
  }

  #breadcrumb {
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 992px) {
  nav {
    height: 80px;
  }

  nav a h1 {
    font-size: 18pt;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5pt;
  }

  nav .restaurant-logo {
    width: 48px;
    margin-right: 20px;
  }

  .filter-options {
    height: 30px;
    flex-wrap: nowrap;
  }

  .filter-options .select-css {
    max-width: 30%;
  }

  #restaurants-list li {
    flex-basis: 30%;
  }

  .inside header {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .inside #map-container {
    width: 50%;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
  }

  .inside #map {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: relative;
    width: 50%;
    top: 120px;
  }

  .left-column {
    order: 1;
    width: 48%;
  }

  .right-column {
    order: 2;
    width: 50%;
  }

  #restaurant-hours .table-day {
    text-align: right;
  }

  #breadcrumb {
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 1200px) {
  nav {
    height: 80px;
  }

  nav a h1 {
    font-size: 18pt;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 5pt;
  }

  nav .restaurant-logo {
    width: 48px;
    margin-right: 20px;
  }

  .filter-options {
    height: 30px;
    flex-wrap: nowrap;
  }

  .filter-options .select-css {
    max-width: 30%;
  }

  #restaurants-list li {
    flex-basis: 22%;
  }

  .inside header {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .inside #map-container {
    width: 50%;
    height: calc(100% - 80px);
    position: fixed;
    right: 0;
    top: 80px;
  }

  .inside #map {
    width: 100%;
    height: 100%;
  }

  .left-column {
    order: 1;
    width: 58%;
  }

  .right-column {
    order: 2;
    width: 40%;
  }

  #restaurant-name {
    font-size: 30pt;
  }

  #restaurant-address {
    font-size: 16pt;
  }

  #restaurant-hours .table-day {
    text-align: right;
  }

  .wrapper {
    position: relative;
    width: 50%;
    top: 120px;
  }

  #breadcrumb {
    width: calc(50% - 40px);
  }
}
