@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
	font-weight: 400;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-size: 10pt;
	color: #333;
}
a {
	color: #ea004c;
	text-decoration: none;
}
a:hover, a:focus {
  filter: brightness(110%);
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #4c2431;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
	color: #ff5d92;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #4c2431;
  text-align:center;
	display: flex;
	align-items: center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
	font-size: 18pt;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 5pt;
	text-transform: uppercase;
}
nav h1 a:hover {
  color: #ffc9da;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #847e80;
  align-items: center;
	display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#restaurants-list li {
  background-color: #fff;
  border: none;
  margin: 15px;
	height: auto;
  padding: 0;
  text-align: left;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
	height: auto;
}
#restaurants-list div {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: flex-end;
	height: auto;
}
#restaurants-list li h1 {
  color: #ea004c;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 0 8px;
	flex-basis: 100%;
}
#restaurants-list span {
	font-weight: 700;
	text-transform: uppercase;
	color: #777;
	margin: 0 0 5px;
	flex-basis: 100%;
}
#restaurants-list p {
	display: block;
  margin: 0;
  font-size: 11pt;
	flex-basis: 100%;
	color: #585858;
}
#restaurants-list li button {
  background-color: #b70c43;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
	font-weight: 700;
  margin: 15px 0 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	cursor: pointer;
	border: none;
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.25);
}
#restaurants-list li button:hover,
#restaurants-list li button:active {
	filter: brightness(110%);
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
	       	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Responsive Breakpoints ====================== */
@media screen and (min-width: 768px) {
	#restaurants-list li {
		flex-basis: 28%;
	}
}
@media screen and (min-width: 992px) {
	#restaurants-list li {
		flex-basis: 29%;
	}
}
@media screen and (min-width: 1200px) {
	#restaurants-list li {
		flex-basis: 22%;
	}
}
